In [4]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV, train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [6]:
data = pd.read_csv('train_merge_all.csv')
data = data.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis = 1)

In [7]:
data.head()

,Date,Species,Trap,Longitude,Latitude,Tmax,Tmin,Tavg,Depart,DewPoint,...,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,DaysFromSpray,LogDays,SprayEffect
0,2007-05-29,CULEX PIPIENS/RESTUANS,T002,-87.800991,41.954690,78.9,57.3,68.3,5.7,49.0,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,1500.0,7.313887,0.0
1,2007-05-29,CULEX RESTUANS,T002,-87.800991,41.954690,78.9,57.3,68.3,5.7,49.0,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,1500.0,7.313887,0.0
2,2007-05-29,CULEX RESTUANS,T007,-87.769279,41.994991,78.9,57.3,68.3,5.7,49.0,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,1500.0,7.313887,0.0
3,2007-05-29,CULEX PIPIENS/RESTUANS,T015,-87.824812,41.974089,78.9,57.3,68.3,5.7,49.0,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,1500.0,7.313887,0.0
4,2007-05-29,CULEX RESTUANS,T015,-87.824812,41.974089,78.9,57.3,68.3,5.7,49.0,...,0.0,0.1,29.4,30.1,8.0,15.9,9.8,1500.0,7.313887,0.0

In [8]:
data.columns

Index(['Date', 'Species', 'Trap', 'Longitude', 'Latitude', 'Tmax', 'Tmin',
       'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', 'Cool', 'Sunrise',
       'Sunset', 'CodeSum', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed',
       'DaysFromSpray', 'LogDays', 'SprayEffect'],
      dtype='object')