In [1]:
import pandas as pd

%matplotlib inline

In [2]:
# load spray data

spray = pd.read_csv('../datasets/spray.csv')

In [3]:
# investigate spray data

In [4]:
spray.shape

(14835, 4)

In [5]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [6]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14835 entries, 0 to 14834
Data columns (total 4 columns):
Date         14835 non-null object
Time         14251 non-null object
Latitude     14835 non-null float64
Longitude    14835 non-null float64
dtypes: float64(2), object(2)
memory usage: 463.7+ KB

In [7]:
## need to change type of date and time to datetime (keeping pure date column for grouping)

In [8]:
spray['Time'] = pd.to_datetime(spray['Date']+' '+spray['Time'])
spray['Date'] = pd.to_datetime(spray['Date'])

In [9]:
spray.head()

        Date                Time   Latitude  Longitude
0 2011-08-29 2011-08-29 18:56:58  42.391623 -88.089163
1 2011-08-29 2011-08-29 18:57:08  42.391348 -88.089163
2 2011-08-29 2011-08-29 18:57:18  42.391022 -88.089157
3 2011-08-29 2011-08-29 18:57:28  42.390637 -88.089158
4 2011-08-29 2011-08-29 18:57:38  42.390410 -88.088858

In [10]:
spray.describe()

           Latitude     Longitude
count  14835.000000  14835.000000
mean      41.904828    -87.736690
std        0.104381      0.067292
min       41.713925    -88.096468
25%       41.785001    -87.794225
50%       41.940075    -87.727853
75%       41.980978    -87.694108
max       42.395983    -87.586727

In [11]:
 ## verified with Google maps that these are reasonable values

In [12]:
spray['Date'].value_counts().sort_index()

2011-08-29      95
2011-09-07    2114
2013-07-17    2202
2013-07-25    1607
2013-08-08    1195
2013-08-15    2668
2013-08-16     141
2013-08-22    1587
2013-08-29    2302
2013-09-05     924
Name: Date, dtype: int64

In [13]:
## only ten dates when pesticides were sprayed

In [14]:
spray.drop_duplicates().shape

(14294, 4)

In [15]:
## this shows that there was more than one spray in one location on a single day

In [16]:
# look at spray summary
spray.groupby('Date').agg(['min','max'])

                          Time                       Latitude             \
                           min                 max        min        max
Date
2011-08-29 2011-08-29 18:56:58 2011-08-29 19:15:28  42.389460  42.395983
2011-09-07 2011-09-07 19:42:12 2011-09-07 21:41:10  41.968435  41.997028
2013-07-17 2013-07-17 10:49:04 2013-07-17 21:55:27  41.714098  42.015098
2013-07-25 2013-07-25 19:58:20 2013-07-25 22:37:26  41.939308  41.968097
2013-08-08 2013-08-08 20:16:44 2013-08-08 22:23:45  41.917227  41.946703
2013-08-15 2013-08-15 20:13:56 2013-08-15 23:59:58  41.887825  41.966532
2013-08-16 2013-08-16 00:00:01 2013-08-16 00:24:49  41.911375  41.964712
2013-08-22 2013-08-22 20:02:55 2013-08-22 23:44:46  41.713925  41.895475
2013-08-29 2013-08-29 20:06:39 2013-08-29 22:28:57  41.758812  41.997808
2013-09-05 2013-09-05 19:27:13 2013-09-05 20:40:56  41.976773  42.018907

            Longitude
                  min        max
Date
2011-08-29 -88.096468 -88.087988
2011-09-07 -87.836560 -87.787710
2013-07-17 -87.871023 -87.629355
2013-07-25 -87.739840 -87.707987
2013-08-08 -87.716847 -87.678060
2013-08-15 -87.818408 -87.745625
2013-08-16 -87.785792 -87.746675
2013-08-22 -87.730655 -87.586727
2013-08-29 -87.741315 -87.660885
2013-09-05 -87.846338 -87.789812

In [17]:
# save to csv
spray.to_csv('../datasets/spray_clean.csv')